<!DOCTYPE html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<title>Video Conferencing Application</title>
		<meta name="description" content="#">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="google-signin-client_id" content="52704063809-8ltb87mf5h880505mofd1l6p0pdrhdgr.apps.googleusercontent.com">
		<!-- Bootstrap core CSS -->
		<link href="dist/css/lib/bootstrap.min.css" type="text/css" rel="stylesheet">
		<!-- Swipe core CSS -->
		<link href="dist/css/swipe.min.css" type="text/css" rel="stylesheet">
		<!-- Tags Input-->
		<link href="dist/css/multiselect.css" type="text/css" rel="stylesheet" >
		<!-- Favicon -->
		<link href="dist/img/favicon.png" type="image/png" rel="icon">

	</head>
	<body>
		<main>
			<% if(alertMessage !=""){ %>
				<div id="flashwrapper" class="alert alert-dismissible bg-info" role="alert" style="margin-bottom:0px ;"><%= alertMessage %>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close" onClick="close('flashwrapper')">
					<span aria-hidden="true">&times;</span>
				</div>
			<% }
			else if (errorMessage !=""){ %>
				<script>JSAlert.alert('<%=errorMessage %>')</script>
			<% } %>
			<div class="layout">
				<!-- Start of Navigation -->
				<div class="navigation">
					<div class="container">
						<div class="inside">
							<div class="nav nav-tab menu">
								<a href="#home" data-toggle="tab"class="active">Home<i class="material-icons active">home</i></a>
								<a href="#members" data-toggle="tab" class="f-grow1">Contact<i class="material-icons">account_circle</i></a>
								<a href="#notifications" data-toggle="tab" class="f-grow1">Notification<i class="material-icons">notifications_none</i></a>
								<a href="#discussions" data-toggle="tab" class="f-grow1">Chat<i class="material-icons">chat_bubble_outline</i></a>
								<a href="#schedule" data-toggle="tab">Schedule<i class="material-icons">today</i></a>
								<a href="#settings" data-toggle="tab">Settings<i class="material-icons">settings</i></a>
								<button class="btn power" onclick="signOut()">Log out<i class="material-icons">power_settings_new</i></button>
							</div>
						</div>
					</div>
				</div>
				<!-- End of Navigation -->
				<!-- Start of Sidebar -->
				<div class="sidebar" id="sidebar">
					<div class="container ">
						<div class="col-md-12">
							<div class="tab-content">
								<!-- Start of Room -->
								<div class="tab-pane fade active show" id="home">			
									<div class="settings">
                                        <div class="search">
                                            <form class="form-inline position-relative">
                                                <input type="search" class="form-control" id="room" placeholder="Search for room...">
                                                <button type="button" class="btn btn-link loop"><i class="material-icons">search</i></button>
                                            </form>
                                            <button class="btn create" data-toggle="modal" data-target="#addRoom"><i class="material-icons">add</i></button>
                                        </div>

										<div class="categories" id="rooms">
											<h1>Rooms</h1>
											
											<div class="category discussions">
												<% for (var i in room){ %>	
													<a href="#" class="title collapsed" id="headingOne" data-toggle="collapse" data-target="#channel-<%= room[i].r_id %>" aria-expanded="true" aria-controls="collapseOne">
														<div class="data">
															<h5><%= room[i].r_title %></h5>
															<p><%= room[i].r_desc %></p>
														</div>
														<i class="material-icons">keyboard_arrow_right</i>
													</a>
													<div class="collapse " id="channel-<%= room[i].r_id %>"  aria-labelledby="headingOne" data-parent="#rooms">
														<div class="list-group border border-light" id="chats" role="tablist">
															<% for(var j in channel){ %>
																<% if(room[i].r_id == channel[j].r_id){ %>
																	<a href="#chat-<%= channel[j].c_id %>" class="btn" id="list-chat-list" data-toggle="list" role="tab" onclick="checkMeetingExist('<%= channel[j].c_id %>')">
																		<div class="data">
																			<p><%= channel[j].c_title %></p>
																		</div>
																	</a>									
																<% } 
															}%>
														</div>
														<%if (room[i].owner_id == u_id){%>
															<div class="d-flex">
																<button class="btn btn-link text-primary w-100" data-toggle="modal" data-target="#addChannel" onclick="addChannel('<%= room[i].r_id %>')">Add Channel</button>
																<button class="btn btn-link text-danger w-100" onclick="deleteRoom('<%= room[i].r_id %>')">Delete Room</button>
															</div>
														<%}%>
													</div>
													<% } %>
												</div>
											<div class="category">
												
											</div>
										</div>
									</div>
								</div>
								<!-- End of Room -->

								<!-- Start of Contacts -->
								<div class="tab-pane fade" id="members">
									<div class="search">
										<form class="form-inline position-relative">
											<input type="search" class="form-control" id="people" placeholder="Search for people...">
											<button type="button" class="btn btn-link loop"><i class="material-icons">search</i></button>
										</form>
										<button class="btn create" data-toggle="modal" data-target="#addContact"><i class="material-icons">person_add</i></button>
									</div>
									<!--<div class="list-group sort">
										<button class="btn filterMembersBtn active show" data-toggle="list" data-filter="all">All</button>
										<button class="btn filterMembersBtn" data-toggle="list" data-filter="online">Online</button>
										<button class="btn filterMembersBtn" data-toggle="list" data-filter="offline">Offline</button>
									</div>-->					
									<div class="contacts">
										<h1>Contacts</h1>
										<div class="list-group" id="contacts" role="tablist">
											<% for (var i in contact){%>
												<a href="#" class="filterMembers all contact" data-toggle="modal" data-target="#viewProfile-<%= contact[i].ct_id %>">
													<img class="avatar-md" src="<%= contact[i].u_profilepic %>" data-toggle="tooltip" data-placement="top" title="<%= contact[i].u_name %>" alt="avatar">
													<div class="status">
														<i class="material-icons online">fiber_manual_record</i>
													</div>
													<div class="data">
														<h5><%= contact[i].u_name %></h5>
														<p><%= contact[i].u_email %></p>
													</div>
													<div class="person-delete" onclick="deleteContact('<%= contact[i].ct_id %>')">
														<i class="material-icons">delete</i>
													</div>
												</a>
											<%} %> 

										</div>
									</div>
								</div>
								<!-- End of Contacts -->

									<!-- Start of Discussions -->
									<div id="discussions" class="tab-pane fade ">
										<div class="search">
											<form class="form-inline position-relative">
												<input type="search" class="form-control" id="conversations" placeholder="Search for conversations...">
												<button type="button" class="btn btn-link loop"><i class="material-icons">search</i></button>
											</form>
											<button class="btn create" data-toggle="modal" data-target="#addChat"><i class="material-icons">create</i></button>
										</div>
										<!--
										<div class="list-group sort">
											<button class="btn filterDiscussionsBtn active show" data-toggle="list" data-filter="all">All</button>
											<button class="btn filterDiscussionsBtn" data-toggle="list" data-filter="read">Read</button>
											<button class="btn filterDiscussionsBtn" data-toggle="list" data-filter="unread">Unread</button>
										</div>-->						
										<div class="discussions">
											<h1>Conversations</h1>
											

											<div class="list-group" id="chats" role="tablist">
												<% for (var i in conversation){ %>
													<% if(conversation[i].receiver_id == u_id){ %>
													<a href="#list-chat-<%= conversation[i].cv_id %>" class="filterDiscussions all single" id="list-chat-list" data-toggle="list" role="tab">
														<img class="avatar-md" src="<%= conversation[i].sender_profilepic %>" data-toggle="tooltip" data-placement="top" title="Janette" alt="avatar">
														<% if(conversation[i].sender_status == 'A'){ %>
															<div class="status">
																<i class="material-icons online">fiber_manual_record</i>
															</div>
														<%}
														else{ %>
																<div class="status">
																	<i class="material-icons offline">fiber_manual_record</i>
																</div>
														<% } %>
														<div class="data">
															
															<h5><%= conversation[i].sender_name %></h5>
														</div>
													</a>
													<% }
													else if(conversation[i].sender_id == u_id){ %>
														<a href="#list-chat-<%= conversation[i].cv_id %>" class="filterDiscussions all unread single" id="list-chat-list" data-toggle="list" role="tab">
															<img class="avatar-md" src="<%= conversation[i].receiver_profilepic %>" data-toggle="tooltip" data-placement="top" title="Janette" alt="avatar">
															
															<% if(conversation[i].receiver_status == 'A'){ %>
															<div class="status">
																<i class="material-icons online">fiber_manual_record</i>
															</div>
															<%}
															else{ %>
																<div class="status">
																	<i class="material-icons offline">fiber_manual_record</i>
																</div>
															<% } %>
															<div class="data">
																<h5><%= conversation[i].receiver_name %></h5>
															</div>
														</a>
														<%} 
												}%>									
											</div>
										</div>
									</div>
									<!-- End of Discussions -->

									<!-- Start of Notifications -->
									<div id="notifications" class="tab-pane fade">
										<div class="search">
											<form class="form-inline position-relative">
												<input type="search" class="form-control" id="notice" placeholder="Filter notifications...">
												<button type="button" class="btn btn-link loop"><i class="material-icons filter-list">filter_list</i></button>
											</form>
										</div>
										<!--<div class="list-group sort">
											<button class="btn filterNotificationsBtn active show" data-toggle="list" data-filter="all">All</button>
											<button class="btn filterNotificationsBtn" data-toggle="list" data-filter="latest">Latest</button>
											<button class="btn filterNotificationsBtn" data-toggle="list" data-filter="oldest">Oldest</button>
										</div>-->				
										<div class="notifications">
											<h1>Notifications</h1>
											<div class="list-group" id="alerts" role="tablist">

												

												<% for (var i in notifications){%>
													<script>
															var user = "<%= notifications[i].u_id %>";
															var userArr = user.split(',');
															var notice = document.createElement('div');
															notice.innerHTML = `<a href="#" class="filterNotifications all notification" data-toggle="list">
														<div>
															<i class="material-icons"><%= notifications[i].type%></i>
														</div>
														<div class="data">
															<p><%= notifications[i].from %> <%= notifications[i].notification %></p>
															
															<span><%= moment(notifications[i].date).format( 'DD MMM YYYY - ddd') %></span>
														</div>
														</a>`;

															for (var x=0; x< userArr.length; x++){
																if(userArr[x] == "<%= u_id%>"){
																	document.getElementById('alerts').appendChild(notice);
																}
																
															}
													</script>	
												<% 
												}%>
											</div>
										</div>
									</div>
									<!-- End of Notifications -->
									<!-- Start of Schedule -->
								
									<div id="schedule" class="tab-pane fade ">
										<div class="search">
											<form class="form-inline position-relative">
												<input type="search" class="form-control" id="schedules" placeholder="Search for schedule">
												<button type="button" class="btn btn-link loop"><i class="material-icons">search</i></button>
											</form>
											<button class="btn create" data-toggle="modal" data-target="#addSchedule"><i class="material-icons">add</i></button>
										</div>
										<!--<div class="list-group sort">
											<button class="btn filterDiscussionsBtn active show" data-toggle="list" data-filter="all">All</button>
											<button class="btn filterDiscussionsBtn" data-toggle="list" data-filter="upcoming">Upcoming</button>
											<button class="btn filterDiscussionsBtn" data-toggle="list" data-filter="past">Past</button>
										</div>-->				
										<div class="discussions">
											<h1>Schedule</h1>
											<div class="list-group" id="agendas" role="tablist">
												<% for (var i in schedule){%>
													<a href="#list-agenda-<%= schedule[i].s_id%>" class="filterSchedule all single" id="list-agenda-list" data-toggle="list" role="tab">
														<div class="data">
															<h5><%= schedule[i].s_title %></h5>
															<span><%= moment(schedule[i].s_date).format( 'DD MMM YYYY - ddd') %></span>
															<p></p>
															<p></p>
															<span><%= schedule[i].s_stime %></span>
														</div>
													</a>

													<!--here write if past and upcoming-->
												<%} %> 								
											</div>
										</div>
									</div>
									<!-- End of Schedule --
									<!-- Start of Settings -->
									<div class="tab-pane fade" id="settings">			
										<div class="settings">
											<div class="profile">
												<img class="avatar-xl" src="<%= account[0].u_profilepic %>" alt="avatar">
												<h1><a href="#"><%= account[0].u_name %></a></h1>
												<span><%= account[0].u_email %></span>
												<div class="stats">
													<div class="item">
														<h2><%= contact.length %></h2>
														<h3>Contacts</h3>
													</div>
													<div class="item">
														<h2><%= room.length %></h2>
														<h3>Rooms</h3>
													</div>
													<div class="item">
														<h2><%= account[0].u_point %></h2>
														<h3>Points</h3>
													</div>
												</div>
												<br>
												<input type="button" class="btn button" value="Claim the special rewards!" onclick="checkPoint('<%= account[0].u_name %>','<%= account[0].u_point %>')">
											
											</div>
											<div class="categories" id="accordionSettings">
												<h1>Settings</h1>
												<!-- Start of My Account -->
												<div class="category">
													<a href="#" class="title collapsed" id="headingOne" data-toggle="collapse" data-target="#editProfilePane" aria-expanded="true" aria-controls="collapseOne">
														<i class="material-icons md-30 online">person_outline</i>
														<div class="data">
															<h5>My Account</h5>
															<p>Update your profile details</p>
														</div>
														<i class="material-icons">keyboard_arrow_right</i>
													</a>
													<div class="collapse" id="editProfilePane" aria-labelledby="headingOne" data-parent="#accordionSettings">
														<div class="content no-layer">
															<div class="set">
																<div class="details">
																	<h5>Manage your information</h5>
																		<p>You can update some basic info on your account.</p>
																</div>
																<a href="#list-test" class="" id="list-test-list" data-toggle="modal" data-target="#editProfile">
																	<span class="btn button">Edit Profile</span>
																</a>
															</div>
																<button class="btn btn-link w-100" onclick="deleteAccount('<%= u_id %>')">Delete Meego Account</button>
														</div>
													</div>
												</div>
												<!-- End of My Account -->
												<!-- Start of Profile Picture -->
												<div class="category">
													<a href="#" class="title collapsed" id="headingTwo" data-toggle="collapse" data-target="#editPhoto" aria-expanded="true" aria-controls="collapseThree">
														<i class="material-icons md-30 online">photo</i>
														<div class="data">
															<h5>Profile Picture</h5>
															<p>Change current profile picture</p>
														</div>
														<i class="material-icons">keyboard_arrow_right</i>
													</a>
													<div class="collapse" id="editPhoto" aria-labelledby="headingTwo" data-parent="#accordionSettings">
														<div class="content">
															<div class="upload">
																<form action="changeProfilePic" method="POST" encType="multipart/form-data">
																<input type="text" value="<%=u_id%>" name="u_id" hidden>
																<div class="data">
																	<img class="avatar-xl" src="<%= account[0].u_profilepic %>" alt="image">
																	<label>
																		<input type="file" id="u_profilepic" name="u_profilepic" accept=".jpg, .jpeg, .png">
																		<span class="btn button" id="photoName">Select Photo</span>
																	</label>
																</div>
																<p>For best results, use an image at least 256px by 256px in either .jpg , .jpeg or .png format!</p>
																<div class="preview" >
																	<p>No files currently selected for upload</p>
																  </div>
																<input type="submit" class="btn button" id="uploadImgButton" style="background-color: grey;" value="Change Profile Picture" >
																</form>
															</div>
														</div>
													</div>
												</div>
												<!-- End of Password Settings -->
												<!-- Start of Password Settings -->
												<div class="category">
													<a href="#" class="title collapsed" id="headingThree" data-toggle="modal" data-target="#editPassword">
														<i class="material-icons md-30 online">lock</i>
														<div class="data">
															<h5>Password</h5>
															<p>Change current password</p>
														</div>
														<i class="material-icons">keyboard_arrow_right</i>
													</a>
													<div class="collapse">
									
													</div>
												</div>
												<!-- End of Password Settings -->

												<!-- Start of Speed Test -->
												<div class="category">
													<a href="#" class="title collapsed" id="headingFive" data-toggle="collapse" data-target="#speedTest" aria-expanded="true" aria-controls="collapseFive">
														<i class="material-icons md-30 online">network_check</i>
														<div class="data">
															<h5>Speed Test</h5>
															<p>Check your speed here</p>
														</div>
														<i class="material-icons">keyboard_arrow_right</i>
													</a>
													<div class="collapse" id="speedTest" aria-labelledby="headingFive" data-parent="#accordionSettings">
														<div class="content no-layer">
															<div class="set">
																<div class="details">
																	<h5>Speed Test</h5>
																		<p>You can check your Internet speed before a meeting </p>
																</div>
																<a href="#list-test" class="" id="list-test-list" data-toggle="list" role="tab">
																	<span class="btn button">Start</span>
																</a>
															</div>
														</div>
													</div>
												</div>
												<!-- End of Speed Test -->
												<!-- Start of Speed Test -->
												<div class="category">
													<a href="#" class="title collapsed" id="headingSix" data-toggle="collapse" data-target="#feedback" aria-expanded="true" aria-controls="collapseFive">
														<i class="material-icons md-30 online">rate_review</i>
														<div class="data">
															<h5>Feedback</h5>
															<p>Rate our app</p>
														</div>
														<i class="material-icons">keyboard_arrow_right</i>
													</a>
													<div class="collapse" id="feedback" aria-labelledby="headingSix" data-parent="#accordionSettings">
														<div class="content no-layer">
															<div class="set">
																<div class="details">
																	<h5>Tell us what you think</h5>
																		<p>Provide us a feedback on how we can improve our servce. </p>
																</div>
																<a href="/feedback" class="" id="list-test-list" target="_blank">
																	<span class="btn button">Open feedback</span>
																</a>
															</div>
														</div>
													</div>
												</div>
												<!-- End of Speed Test -->
												
												<!-- Start of Logout -->
												<div class="category">
													<a onclick="signOut()" class="title collapsed">
														<i class="material-icons md-30 online">power_settings_new</i>
														<div class="data">
															<h5>Power Off</h5>
															<p>Log out of your account</p>
														</div>
														<i class="material-icons">keyboard_arrow_right</i>
													</a>
												</div>
												<!-- End of Logout -->
											</div>
										</div>
									</div>
									<!-- End of Settings -->
							</div>
						</div>
					</div>
				</div>
				<!-- End of Sidebar -->

				<%- include('modal/addForms.ejs') %>

				<%- include('modal/editForms.ejs') %>

				<!-- Wrapping element -->
			
					<!-- Position toasts -->
					<div style="position: absolute; top: 0; right: 0;z-index: 1">
						<% for (var i in meeting){ %>
							<% for(var j in channel){  
								if(channel[j].c_id == meeting[i].c_id){ %>
									<div class="toast fade show" data-delay="3000">
										<div class="toast-header">
											<strong class="mr-auto"><i class="fa fa-globe"></i> Join Meeting in <%= channel[j].c_title %></strong>
											<small class="text-muted"><%= moment(meeting[i].m_stime).format( 'HH:mm') %></small>
											<button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
										</div>
										
										<div class="toast-body ">
											<p>Click to join meeting now!</p>
											<a id="join-meeting-<%= channel[j].c_id %>" class="btn btn-primary"onclick="joinMeeting('<%= u_id %>','<%= meeting[i].m_id %>','<%= meeting[i].m_code %>')">Join Meeting</a>
										</div>
									</div>
								<% } 
							}
						}%>
					</div> 
				 	

				<div class="main">
					<div class="tab-content" id="nav-tabContent">
						<% for( var i in conversation){ %>	
						<!-- Start of Babble -->
						<div class="babble tab-pane fade" id="list-chat-<%= conversation[i].cv_id %>" role="tabpanel" aria-labelledby="list-chat-list">
							<!-- Start of Chat -->
							<div class="chat" id="chat1">
								<div class="top bg-primary text-white">
									<div class="container">
										
										<div class="col-md-12">
											<div class="inside">
												
												<% if(conversation[i].receiver_id == u_id){ %>
												<a href="#"><img class="avatar-xl" src="<%= conversation[i].sender_profilepic %>" data-toggle="tooltip" data-placement="top" title="Lean" alt="avatar"></a>
												
													<% if(conversation[i].sender_status == 'A'){ %>
													<div class="status">
														<i class="material-icons online">fiber_manual_record</i>
													</div>
													<%}
													else{ %>
														<div class="status">
															<i class="material-icons offline">fiber_manual_record</i>
														</div>
													<% } %>

												<div class="data">
													<h3><%= conversation[i].sender_name %></h3>
												</div>
												<% }
												
												else if(conversation[i].sender_id == u_id){ %>
													<a href="#"><img class="avatar-xl" src="<%= conversation[i].receiver_profilepic %>" data-toggle="tooltip" data-placement="top" title="Lean" alt="avatar"></a>
												
													<% if(conversation[i].receiver_status == 'A'){ %>
													<div class="status">
														<i class="material-icons online">fiber_manual_record</i>
													</div>
													<%}
													else{ %>
														<div class="status">
															<i class="material-icons offline">fiber_manual_record</i>
														</div>
													<% } %>

												<div class="data">
													<h3><%= conversation[i].receiver_name %></h3>
												</div>
												<% } %>

												<% for (var x in meeting){ %>
														<% if(conversation[i].cv_id == meeting[x].cv_id){ %>
															<a class="btn btn-primary btn-join-meeting" onclick="joinMeeting('<%= u_id %>','<%= meeting[x].m_id %>','<%= meeting[x].m_code %>')">Join Meeting</a>
														<% }
												}%>
												<button class="btn connect d-md-block d-none btn-create-meeting" name="2" onclick="createMeeting('<%= u_id %>','conversation','<%= conversation[i].cv_id %>',false)"><i class="material-icons md-30">phone_in_talk</i></button>
												<button class="btn connect d-md-block d-none btn-create-meeting" name="2" onclick="createMeeting('<%= u_id %>','conversation','<%= conversation[i].cv_id %>',true)"><i class="material-icons md-36">videocam</i></button>
												<!--<button class="btn d-md-block d-none"><i class="material-icons md-30">info</i></button>-->
												<div class="dropdown">
													<button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons md-30">more_vert</i></button>
													<div class="dropdown-menu dropdown-menu-right">
														<button class="dropdown-item connect btn-create-meeting" name="1" onclick="createMeeting('<%= u_id %>','conversation','<%= conversation[i].cv_id %>',false)"><i class="material-icons">phone_in_talk</i>Voice Call</button>
														<button class="dropdown-item connect btn-create-meeting" name="1" onclick="createMeeting('<%= u_id %>','conversation','<%= conversation[i].cv_id %>',true)"><i class="material-icons">videocam</i>Video Call</button>
														<hr>
														<button class="dropdown-item" onclick="clearChat('<%= conversation[i].cv_id %>')"><i class="material-icons">clear</i>Clear History</button>
													</div>
												</div>
												<div class="bg-primary">
												</div>
											</div>
										</div>

									</div>
								</div>
								<div class="content empty">
									<div class="container">
										<div class="col-md-12">
											<% for(var j in message){ %>
												
												<% if(conversation[i].cv_id == message[j].cv_id){ %>
													<% if(message[j].receiver_id == u_id){ %>
                                                
														<% if(message[j].cm_file != null){ %>
															<div class="message">
																<img class="avatar-md" src="<%= message[j].sender_profilepic%>" data-toggle="tooltip" data-placement="top" title="<%= message[j].sender_name%>" alt="avatar">
																<div class="text-main">
																	<div class="text-group">
																		<div class="text">
																			<div class="attachment">
																				<button class="btn attach"><i class="material-icons md-18">insert_drive_file</i></button>
																				<div class="file">
																					<h5><a href="<%= message[j].cm_file %>" download><%= message[j].cm_file.substring(10, (message[j].cm_file).length); %></a></h5>
																					<span><%= message[j].cm_content %></span>
																				</div>
																			</div>
																		</div>
																	</div>
																	<span><%= moment(message[j].cm_datetime).format( 'DD MMM YYYY HH:mm') %></span>
																</div>
															</div>
														<% } else { %>
															<div class="message ">
																<img class="avatar-md" src="<%= message[j].sender_profilepic%>" data-toggle="tooltip" data-placement="top" title="<%= message[j].sender_name%>" alt="avatar">
																<div class="text-main">
																	<div class="text-group border border-info rounded text text-info">	
																			<p><%= message[j].cm_content %></p>	
																	</div>
																	<span><%= moment(message[j].cm_datetime).format( 'DD MMM YYYY HH:mm') %></span>
																</div>
															</div>

														<% }
													}
													else if(message[j].sender_id == u_id){ %>
															
														<% if(message[j].cm_file != null){ %>
															<div class="message me">
																<div class="text-main">
																	<div class="text-group me">
																		<div class="text me">
																			<div class="attachment">
																				<button class="btn attach"><i class="material-icons md-18">insert_drive_file</i></button>
																				<div class="file">
																					<h5><a href="<%= message[j].cm_file %>" download><%= message[j].cm_file.substring(10, (message[j].cm_file).length); %></a></h5>
																					<span><%= message[j].cm_content %></span>
																				</div>
																			</div>
																		</div>
																	</div>
																	<span><%= moment(message[j].cm_datetime).format( 'DD MMM YYYY HH:mm') %></span>
																</div><img class="avatar-md" src="<%= message[j].sender_profilepic%>" data-toggle="tooltip" data-placement="top" title="Me" alt="avatar">
															</div>
														<% } else { %>
															<div class="message me">
																<div class="text-main">
																	<div class="text-group me">
																		<div class="text me">
																			<p><%= message[j].cm_content %></p>
																		</div>
																	</div>
																	<span><%= moment(message[j].cm_datetime).format( 'DD MMM YYYY HH:mm') %></span>
																</div>
																<img class="avatar-md" src="<%= message[j].sender_profilepic%>" data-toggle="tooltip" data-placement="top" title="Me" alt="avatar"> 
															</div>
															<%} %>		
													<%}
												}
											} %>
										</div>
									</div>
								</div>
								<hr>
								<form action="#"class="cvForm">			
								<div class="container">
									<div class="col-md-12">
										<input type="text" value="<%= conversation[i].cv_id %>" name="cv_id" hidden>
										<input type="text" value="<%= account[0].u_name %>" name="u_name" hidden>
										<input type="text" value="<%= u_id %>" name="sender" hidden>
										<% if(conversation[i].receiver_id == u_id){ %>
											<input type="text" value="<%= conversation[i].sender_id %>" name="receiver" hidden>	
											<%} 
											else if(conversation[i].sender_id == u_id)	{%>
											<input type="text" value="<%= conversation[i].receiver_id %>" name="receiver" hidden>
										<%}%>
										<div class="bottom">
											<label>
												<input type="file" name="chatFile">
												<span class="btn attach d-sm-block d-none"><i class="material-icons">attach_file</i></span>
											</label> 
											
											<div class="position-relative w-100">
												<div name="list-file-chat"></div>
												<textarea class="form-control text-info" placeholder="Start typing for reply..." rows="1" name="content" required></textarea>
											</div>
											<label>
												<span class="btn attach d-sm-block d-none"><input type="submit" name="sendMessage"><i class="material-icons">send</i></span>
											</label> 
										</div>
									</div>
								</div>
							</form>
							</div>
							<!-- End of Chat -->
						</div>
						<% } %>
						<!-- End of Babble -->
                        

						<!-- Start of Babble -->
						<% for (var i in room){ %>
							<% for(var j in channel){ %>
								<% if(room[i].r_id == channel[j].r_id){ %>								
									<input type="hidden" value="<%= channel[j].r_id %>" name="c_id">
						<div class="babble tab-pane fade " id="chat-<%= channel[j].c_id %>" role="tabpanel" aria-labelledby="list-open-list">
							<!-- Start of Chat -->
							<div class="chat" id="chat3">
							
								<div class="top bg-primary text-white ">
									<div class="container ">
										<div class="col-md-12">
											<div class="inside">
												
												<div class="data">
													
													<h3><%= channel[j].c_title %></h3>
													<span><%= channel[j].c_desc %></span>
												</div>

												<% for (var x in meeting){ %>
													<% if(channel[j].c_id == meeting[x].c_id){ %>
														<button class="btn btn-join-meeting d-md-block d-none" onclick="joinMeeting('<%= u_id %>','<%= meeting[x].m_id %>','<%= meeting[x].m_code %>')"><i class="material-icons md-30">queue_play_next</i>Join Meeting</button>
													<% }
												}%>
												<div id="create-meeting-<%= channel[j].c_id %>" >
													<div class="d-flex justify-content-between">
													<button class="btn connect d-md-block d-none" name="3" id="" onclick="createMeeting('<%= u_id %>','channel','<%= channel[j].c_id %>',false)"><i class="material-icons md-30">phone_in_talk</i></button><br>
													<button class="btn connect d-md-block d-none" style="display: inline-block;" name="3" id="create-meeting-<%= channel[j].c_id %>" onclick="createMeeting('<%= u_id %>','channel','<%= channel[j].c_id %>',true)"><i class="material-icons md-36">videocam</i></button>
													<!--<button class="btn d-md-block d-none"><i class="material-icons md-30">info</i></button>-->
													</div>
												</div>
												<div class="dropdown"> 
													<button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons md-30">more_vert</i></button>
													<div class="dropdown-menu dropdown-menu-right">
														<button class="dropdown-item connect" name="3" id="create-meeting-<%= channel[j].c_id %>" onclick="createMeeting('<%= u_id %>','channel','<%= channel[j].c_id %>',false)"><i class="material-icons">phone_in_talk</i>Voice Call</button>
														<button class="dropdown-item connect" name="3" id="create-meeting-<%= channel[j].c_id %>" onclick="createMeeting('<%= u_id %>','channel','<%= channel[j].c_id %>',true)"><i class="material-icons">videocam</i>Video Call</button>

														<hr>
														<%if (room[i].owner_id == u_id){%>
														<button id="addMember" class="dropdown-item" data-toggle="modal" data-target="#addMember" onclick="addMember('<%= room[i].r_id %>')"><i class="material-icons">group_add</i>Insert Member</button>
														<button id="createChannel" class="dropdown-item" data-toggle="modal" data-target="#addChannel" onclick="addChannel('<%= room[i].r_id %>')"><i class="material-icons">add_circle</i>Create Channel</button>
														<button class="dropdown-item" onclick="deleteChannel('<%= channel[j].c_id %>')"><i class="material-icons">delete</i>Delete Channel</button>
														<button class="dropdown-item" onclick="clearHistory('<%= channel[j].c_id %>')"><i class="material-icons">clear</i>Clear History</button>
														<%}
														else{%>
														<button id="addMember" class="dropdown-item" onclick="JSAlert.alert('Sorry, only owner can add member.');" ><i class="material-icons">group_add</i>Insert Member</button>
														<button class="dropdown-item" onclick="JSAlert.alert('Sorry, only owner can delete channel.');"><i class="material-icons">delete</i>Delete Channel</button>
														<button class="dropdown-item" onclick="leaveRoom('<%=room[i].r_id%>','<%=u_id%>')"><i class="material-icons">exit_to_app</i>Leave Room</button>
														<%}%>
													</div>
												</div>
											</div>
											
										</div>
									</div>
								</div>
								
								<div class="content">
									<div class="container row">
										<div class="col-md-12">
											<% for(var k in channel_message){ %>
												<% if(channel[j].c_id == channel_message[k].c_id){ %>
												
													<% if(channel_message[k].sender_id == u_id){ %>
													
														<% if(channel_message[k].ch_file != null){ %>
															<div class="message me">
																
																<div class="text-main">
																	<div class="text-group">
																		<div class="text">
																			<div class="attachment">
																				<button class="btn attach"><i class="material-icons md-18">insert_drive_file</i></button>
																				<div class="file">
																					<h5><a href="<%= channel_message[k].ch_file %>"><%= channel_message[k].ch_file.substring(10, (channel_message[k].ch_file).length); %></a></h5>
																					<span><%= channel_message[k].ch_content %></span>
																				</div>
																			</div>
																		</div>
																	</div>
																	<span><%= moment(channel_message[k].ch_datetime).format( 'DD MMM YYYY HH:mm') %></span>
																</div>
																<img class="avatar-md" src="<%= channel_message[k].sender_profilepic %>" data-toggle="tooltip" data-placement="top" title="Me" alt="avatar">
															</div>
														<% } else {%>
															<div class="message me">	
																<div class="text-main">
																	<div class="text-group me">
																		<div class="text me">
																			<p><%= channel_message[k].ch_content %></p>
																		</div>
																	</div>
																	<span><%= moment(channel_message[k].ch_datetime).format( 'DD MMM YYYY HH:mm') %></span>
																</div>
																<img class="avatar-md" src="<%= channel_message[k].sender_profilepic %>" data-toggle="tooltip" data-placement="top" title="Me" alt="avatar"> 
															</div>
														<% }
													}
													else if(channel_message[k].sender_id != u_id){ %>
														
														<% if(channel_message[k].ch_file != null){ %>
															<div class="message">
																<img class="avatar-md" src="<%= channel_message[k].sender_profilepic %>" data-toggle="tooltip" data-placement="top" title="<%= channel_message[k].sender_name %>" alt="avatar">
																<div class="text-main">
																	<div class="text-group">
																		<div class="text">
																			<div class="attachment">
																				<button class="btn attach"><i class="material-icons md-18">insert_drive_file</i></button>
																				<div class="file">
																					<h5><a href="<%=channel_message[k].ch_file %>"><%= channel_message[k].ch_file.substring(10, (channel_message[k].ch_file).length); %></a></h5>
																					<span><%= channel_message[k].ch_content %></span>
																				</div>
																			</div>
																		</div>
																	</div>
																	<span><%= moment(channel_message[k].ch_datetime).format( 'DD MMM YYYY HH:mm') %></span>
																</div>
															</div>
														<% } else {%>
															<div class="message ">
																<img class="avatar-md" src="<%= channel_message[k].sender_profilepic %>" data-toggle="tooltip" data-placement="top" title="<%= channel_message[k].sender_name %>" alt="avatar">
																<div class="text-main">
																	<div class="text-group border border-info rounded text text-info">
																			<p><%= channel_message[k].ch_content %></p>	
																	</div>
																	<span><%= moment(channel_message[k].ch_datetime).format( 'DD MMM YYYY HH:mm') %></span>
																</div>
															</div>
														<% } 
													}
												} 
											} %>
											
                                        </div>
									</div>
									
									<div class="col-md-3 bside" style="display:block;" name="roomMember">
										<div class="text-center">
											<h5>Room Member</h5>
										</div>
										<div class= "table">
											<table class="table-responsive-md btn-table">
												<thead>
												  <tr>
													<th>#</th>
													<th></th>
													<th>Members</th>
													<th></th>
												  </tr>
												</thead>
												
												<tbody>
												  <tr>
													<th scope="row">1</th>
													<td>
														<img class="avatar-md" src="<%= room[i].owner_profilepic %>" data-toggle="tooltip" data-placement="top" title="<%= room[i].owner_name %>" alt="avatar"></td>
													<td><%= room[i].owner_name %></td>
													<td >
														<button class="rounded-circle" ><i class="material-icons">face</i></button>
													</td>
												  </tr>
												   <% var y= 2
												   for(var k in member){ 
													
													if(room[i].r_id == member[k].r_id){ %>
														<tr>
															<th scope="row"><%= y %></th>
															<td><img class="avatar-md" src="<%= member[k].u_profilepic %>" data-toggle="tooltip" data-placement="top" title="<%= member[k].u_name %>" alt="avatar"></td>
															<td><%= member[k].u_name %></td>
															<%if (room[i].owner_id == u_id){%>
															<td>
																<button class="dropdown-item" style="color:red" onclick="deleteMember('<%= member[k].rr_id %>')"><i class="material-icons">delete</i></button>
															</td>
															<%}%>
														  </tr>
														<% y+=1 
														}
													
													} %>
												</tbody>
											  
											  </table>
										</div>
									</div>
									
								</div>
								<hr>
								<form ref="uploadForm" action="/insertChannelMessage" method="POST" encType="multipart/form-data">			
								<div class="container">
									<div class="col-md-12">
										<div class="bottom">
											<input type="number" value="<%=channel[j].c_id%>" name="c_id" hidden>
											<input type="number" value="<%= u_id %>" name="u_id" hidden>
											<label>
												<input type="file" name="channelFile">
												<span class="btn attach d-sm-block d-none"><i class="material-icons">attach_file</i></span>
											</label>
											
											<div class="position-relative w-100">
												<div name="list-file-channel"></div>
												<textarea class="form-control text-info" placeholder="Start typing for reply..." rows="1" name="ch_content" required></textarea>
											</div>
											<label>
												<span class="btn attach d-sm-block d-none"><input type="submit" name="sendMessage"><i class="material-icons">send</i></span>
											</label> 

										</div>
									</div>
								</div>
							</form>
							</div>
							<!-- End of Chat -->
                            <div class="call" id="call3">
								<div class="content">
									<div class="container ">
										<div class="col-md-12">
											<div class="inside">
												<div class="panel">
													<div class="participant">
                                                        <img class="avatar-xxl" src="dist/img/avatars/avatar-female-3.jpg" alt="avatar">
                                                        <img class="avatar-xxl" src="dist/img/avatars/avatar-female-2.jpg" alt="avatar">
                                                        <img class="avatar-xxl" src="dist/img/avatars/avatar-female-1.jpg" alt="avatar">
														<span>Connecting</span>
													</div>							
													<div class="options">
														<button class="btn option" data-toggle="tooltip" data-placement="top" title="Mic"><i class="material-icons md-30">mic</i></button>
														<button class="btn option" data-toggle="tooltip" data-placement="top" title="Video Camera"><i class="material-icons md-30">videocam</i></button>
                                                        <button class="btn option call-end" data-toggle="tooltip" data-placement="top" title="Close"><i class="material-icons md-30">call_end</i></button>
                                                        <button class="btn option" data-toggle="tooltip" data-placement="top" title="Share Screen"><i class="material-icons md-30">screen_share</i></button>
														<button class="btn option" data-toggle="tooltip" data-placement="top" title="Speaker"><i class="material-icons md-30">volume_up</i></button>
													</div>
													<button class="btn back" name="3"><i class="material-icons md-24">chat</i></button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- End of Call -->
						</div>
							<% } 
						}%>
						
						<% } %>
                        <!-- End of Babble -->
						
                        
						<!-- Start of Babble -->
						<div class="babble tab-pane fade" id="list-test" role="tabpanel" aria-labelledby="list-test-list">
							<div class="chat">
								<div class="top bg-primary text-white ">
									<div class="container">
										<div class="col-md-12">
											<div class="inside">
												
												<div class="data">
													<h3>Speed Test </h3>
													<span>Provided by <a href="https://www.meter.net">Meter.net</a></span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="container">
										<div class="col-md-12" style="min-height:300px;margin-top: 0%;">
											<div style="width:100%;height:0;position:relative;">
											<iframe style="border:none;position:absolute;top:0;left:0;width:100%;height:100%;min-height:360px;border:none;overflow:hidden !important;" src="https://www.metercustom.net/plugin/?th=w"></iframe>
											</div>
										</div>
								</div>
								<div class="container" style="margin-top:8% ;">
									<div class="row align-items-center">
										<div class="col-6">
											<div class="card text-white bg-danger">
												<div class="card-body">
													<h3 class="card-title">Download</h3>
													<p class="card-text">The speed at which data are downloaded from the testing server</p>
													<span class="text-white border border-light rounded px-2 mg-auto">15-25 Mbps Recommended</span>
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="card text-white bg-danger">
												<div class="card-body">
													<h3 class="card-title">Upload</h3>
													<p class="card-text">the speed at which data are uploaded to the testing server</p>
													<span class="text-white border border-light rounded px-2 mg-auto"> 3 Mbps and above Recommended</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                        <!-- End of Babble -->

                        <!-- Start of Babble -->
						<% for (var i in schedule){ %>

							<div class="babble tab-pane fade" id="list-agenda-<%= schedule[i].s_id%>" role="tabpanel" aria-labelledby="list-agenda-list">
								<!-- Start of Schedule -->
								<div class="chat" id="schedule">
								   <div class="top bg-primary text-white ">
									  <div class="container ">
										 <div class="col-md-12">
											<div class="inside">
											   <div class="data">
												  <h3>Meeting Agenda</h3>
											   </div>
											   <div class="dropdown">
												  <button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons md-30">more_vert</i></button>
												  <div class="dropdown-menu dropdown-menu-right">
													 <button class="dropdown-item" onclick="deleteSchedule('<%= schedule[i].s_id%>')"><i class="material-icons">delete</i>Delete Schedule</button>
												  </div>
											   </div>
											</div>
										 </div>
									  </div>
								   </div>
								</div>
								<div class="main order-md-2">
									<div class="col-md-12">
									   <div class="content">
										  <div class="card">
											 <div class="card-body">
												<div id="schedule" class="table-editable">
												   <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
												   <table class="table table-bordered table-responsive-md table-striped text-center">
													  <thead>
														 <tr class="update">
															<th class="text-center">Title</th>
															<td colspan="5" class="pt-3-half update" data-id="<%= schedule[i].s_id%>" data-column="s_title" data-type="schedule" contenteditable="true"><%= schedule[i].s_title%></td>
														 </tr>
													  </thead>
													  <tbody>
														 <tr class="update">
															<th class="text-center">Date</th>
															<td colspan="" class="pt-3-half update" data-id="<%= schedule[i].s_id%>" data-column="s_date" data-type="schedule" contenteditable="true"><%= moment(schedule[i].s_date).format( 'DD MMM YYYY - ddd') %></td>
															<th class="text-center">Start Time</th>
															<td colspan="" class="pt-3-half update" data-id="<%= schedule[i].s_id%>" data-column="s_stime" data-type="schedule" contenteditable="true"><%= schedule[i].s_stime  %></td>
															<th class="text-center">End Time</th>
															<td colspan="" class="pt-3-half update" data-id="<%= schedule[i].s_id%>" data-column="s_etime" data-type="schedule" contenteditable="true"><%= schedule[i].s_etime %></td>
														 </tr>
														 <!-- Table line -->
														 <tr class="update">
															<th class="text-center">Objective</th>
															<td colspan="5" class="pt-3-half update" data-id="<%= schedule[i].s_id%>" data-column="s_objective" data-type="schedule" contenteditable="true"><%= schedule[i].s_objective %></td>
														 </tr>
														 <tr class="update">
															<th class="text-center">Participants</th>
															<td colspan="5" class="pt-3-half update" data-id="<%= schedule[i].s_id%>" data-column="s_attendees" data-type="schedule" contenteditable="true">
															   <% for (var j in attendees){ 
																  if(attendees[j].s_id == schedule[i].s_id ){ %> 
															   <p display="block btn">	<%= attendees[j].u_name %> </p>
															   <%}
																}%>
															   <p display="block btn">	<%= schedule[i].owner_name %> </p>
															</td>
														 </tr>
													  </tbody>
												   </table>
												   <datalist id="presenter-<%= schedule[i].s_id%>">
													<option value="<%= schedule[i].owner_name %>"><%= schedule[i].owner_name %></option>
													  <% for (var j in attendees){
														 if(attendees[j].s_id == schedule[i].s_id ){ %> 
													  <option value="<%= attendees[j].u_name %>"><%= attendees[j].u_name %></option>
													  <%}
														 }%>
												   </datalist>
												   <table id="<%= schedule[i].s_id %>" name="agenda" class="table-bordered table-responsive-md table-striped text-center" style="padding:0;">
													  <col style="width:2%">
													  <col>
													  <col style="width:20%">
													  <col style="width:10%">
													  <col style="width:10%">
													  <thead>
														 <tr>
															<th class="text-center">#</th>
															<th class="text-center">Topic</th>
															<th class="text-center">Presenter </th>
															<th class="text-center">Time Allocated (min)</th>
															<th class="text-center">Delete</th>
														 </tr>
													  </thead>
													  <tbody>
														<tr id="add_details-<%= schedule[i].s_id %>" name="add_details">
															<td></td>
															<td><input type="text" name="a_topic" style="width:100%" class="a_topic"></td>
															<td>
															   <select  name="a_presenter"  style="width:100%;height: 28px;" class="a_presenter">
																  
																  <% for (var j in attendees){
																	 if(attendees[j].s_id == schedule[i].s_id ){ %> 
																  <option value="<%= attendees[j].u_name %>"><%= attendees[j].u_name %></option>
																  <%}
																	 }%>
																  <option value="<%= schedule[i].owner_name %>"><%= schedule[i].owner_name %></option>
															   </select>
															</td>
															<td><input name="a_time_allocated"  type="number" class="a_time_allocated" min="1"></td>
															<td><span><button  type="submit" name="addAgenda" class="btn btn-info btn-rounded btn-sm my-0 text-info" onclick="addAgenda('<%= schedule[i].s_id%>',this)">Add</button></span></td>
														 </tr>

														 <% 
															var x= 1
															for (var k in agenda){
															 if(agenda[k].s_id == schedule[i].s_id ){ %>
														 <tr class="update">
															<td class="pt-3-half"><%= x %></td>
															<td class="pt-3-half update" data-id="<%= agenda[k].a_id %>" data-column="a_topic" data-type="agenda" contenteditable="true"><%= agenda[k].a_topic %></td>
															<td class="pt-3-half update" data-id="<%= agenda[k].a_id %>" data-column="a_presenter" data-type="agenda" contenteditable="true"><%= agenda[k].presenter %></td>
															<td class="pt-3-half update" data-id="<%= agenda[k].a_id %>" data-column="a_time"  data-type="agenda" contenteditable="true"><%= agenda[k].a_time_allocated %></td>
															<td>
															   <span class="table-remove">
															   <button type="submit" onclick="deleteAgenda('<%= agenda[k].a_id%>')" class="btn btn-danger btn-rounded btn-sm my-0 text-danger">Remove</button></span>
															</td>
														 </tr>
														 <% x+=1 
															}
														}%>
														
														 
													  </tbody>
												   </table>
												</div>
											 </div>
										  </div>
									   </div>
									</div>
								 </div>
						</div>
							<% } %>
							<!-- End of Babble -->

				
						</div>
					</div>
				</div>
			</div> <!-- Layout -->
		</main>
		<!-- Bootstrap/Swipe core JavaScript
		================================================== -->
		<!--<script src="dist/js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<!--<script>window.jQuery || document.write('<script src="dist/js/vendor/jquery-slim.min.js"><\/script>')</script>-->
		<script>window.jQuery || document.write('https://code.jquery.com/jquery-3.1.1.min.js')</script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="dist/js/vendor/popper.min.js"></script>
		<script src="dist/js/swipe.min.js"></script>
		<script src="dist/js/main.js"></script>
		<script src="dist/js/bootstrap.min.js"></script>
		<script src="dist/js/multiselect.js"></script>
		<script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script>
		<script src="dist/js/home.js"></script>
		<script src="dist/js/validatePassword.js"></script>
		<script src="dist/js/jquery.amsify.suggestags.js"></script>
		<script src="dist/js/push.min.js"></script>
		<script src="dist/js/serviceWorker.min.js"></script>
		<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
		
		

		<script>
			/*console.log(Notification.permission);
			notifyMe();
			function notifyMe() {
				// Let's check if the browser supports notifications
				if (!("Notification" in window)) {
					alert("This browser does not support desktop notification");
				}
				
				// Let's check whether notification permissions have already been granted
				else if (Notification.permission === "granted") {
					// If it's okay let's create a notification
					//var notification = new Notification("Hi there!");
					Push.create("Welcome!"),{
						body:"How are you?",
						icon:'https://image.shutterstock.com/image-vector/chat-icon-illustration-isolated-vector-260nw-560721067.jpg',
						timeout: 4000,
						onclick:function(){
							window.focus();
							this.close();
						}
					}
				}

				// Otherwise, we need to ask the user for permission
				else if (Notification.permission === "denied" || Notification.permission === "default") {
					Notification.requestPermission().then(function (permission) {
					// If the user accepts, let's create a notification
					if (permission === "granted") {
						var notification = new Notification("Hi there!");
					}
					});
				}
				else{
					alert("yes");
				}
			}*/

			function signOut() {
				JSAlert.confirm("Are you sure to log out?").then(function(result) {
 
				// Check if pressed yes
				if (!result){
				return;
				}
				else{
					var auth2 = gapi.auth2.getAuthInstance();
					auth2.signOut().then(function () {
						console.log('User signed out.');
						window.location.href="/logout";
					});
				}
				});
				
			}

			function onLoad() {
				gapi.load('auth2', function() {
					gapi.auth2.init();
				});
			}

			function scrollToBottom(el) { el.scrollTop = el.scrollHeight; }
			scrollToBottom(document.getElementById('content'));

			$(document).ready(function(){
    			$(".toast").toast('show');
				setTimeout(function() {
					$('.alert').fadeOut('slow');
				}, 2000); // <-- time in milliseconds

			$('#agenda, #schedule').on('focus', 'td', function() {
				$(this).css('backgroundColor', '#EBDCFF');
			});
			$('#agenda, #schedule').on('blur', 'td', function() {
				$(this).css('backgroundColor', 'inherit');
			});

			});

			$(document).on('DOMSubtreeModified', '.update', function(e) {
				value = $(this).closest('td').text().trim();
				//console.log(value)
				var id = $(this).data("id");
				//console.log(id);
				var column_name = $(this).data("column");
				//console.log(column_name);
				var type = $(this).data("type");
				//console.log(type);
				console.log(value);
				if(value !="undefined"  && id !="undefined" && type !="undefined"){
					if(type == "agenda"){
							update_agenda(id, column_name, value);
						}
						else if (type == "schedule"){
							update_schedule(id, column_name, value);
					}	
				}
				e.stopPropagation();
				$(this).closest('td').css('backgroundColor', '#98FB98');
				return false;
				

			});

			function update_agenda(id, column_name, value) {
			$.ajax({
				url: "editAgenda",
				method: "POST",
				data: {
					id: id,
					column_name: column_name,
					value: value
				},
				success:function(response){  
					if(response.msg=='success'){  
						//JSAlert.alert('Update successfully');

					}else{  
						JSAlert.alert('some error occurred try again');  
					}  
				},  
				error:function(response){  
					alert('server error occured')  
				}  
			});
			//window.location.reload(false);
			}
			function update_schedule(id, column_name, value) {
			$.ajax({
				url: "editSchedule",
				method: "POST",
				data: {
					id: id,
					column_name: column_name,
					value: value
				},
				success:function(response){  
					if(response.msg=='success'){  
						//JSAlert.alert('Update successfully');

					}else{  
						JSAlert.alert('some error occurred try again');  
					}  
				},  
				error:function(response){  
					alert('server error occured')  
				}  
			});
			//window.location.reload(false);
			}
			
		</script>
	</body>

</html>